config/set_env.rb
.bundle
.rvmrc
backups/*
config/*.sphinx.conf
config/database.yml
db/*.sqlite3
db/sphinx
db/sphinx/*
error.log
formatdb.log
Gemfile.lock
log/*.log
log/*.pid
public/images/charts/*
public/system
public/lists
public/*/lists
tmp/**/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vendor/*
data
*.DS_Store
