*.DS_Store
.bundle
.rvmrc
backups/*
bin/
config/*.sphinx.conf
config/database.yml
config/riparian.yml
config/set_env.rb
config/tricorder.yml
data
db/*.sqlite3
db/sphinx
db/sphinx/*
error.log
formatdb.log
Gemfile.lock
log/*.log
log/*.pid
public/*/lists
public/images/charts/*
public/lists
public/system
tmp/**/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vendor/*
