body { font-family: Helvetica, sans-serif; margin: 0; padding: 0; background-color: #111; color: #f1f1f1; font-size: 80%; }
a { color: #CC6; text-decoration: none; }
a:hover, a:active { color: #E5E84B; }
#header, #main { width: 100%; height: 40px; }
#main { height: 100%; position: fixed; }
#header .inner { padding: 10px 10px; }
#header h1 { font-size: 160%; margin: 0; font-family: "League Gothic", Helvetica, sans-serif; position: relative; display: inline-block; margin-right: 5px; }
#header h1 a {color: #CC6;text-decoration: none;}
#header .menu { margin: 0; display: inline-block; margin-top: 5px; }
#header .menu li { display: inline-block; margin-left: 10px; }
.right { float: right; margin-left: 10px; }
.left { float: left; margin-right: 10px; }
.stacked { margin-bottom: 10px; }

/* treemap */
.cell {
  overflow: hidden;
  position: absolute;
  margin: 0;
  z-index: 1;
}
.cell .value { text-align: center; position: relative; font: 10px sans-serif;}
.leaf.cell .value {
  border: 1px solid white;
  line-height: 12px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.grouprank.cell, .ungrouped.cell { z-index: 10; }
.grouprank.cell .value, .ungrouped.cell .value {
  border: 0 transparent;
  box-shadow: inset 0 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 0 2px #000000;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.cell label {
  position: relative;
  display: block;
  top: 50%;
  margin-top: -6px;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.5em black;
  opacity: 0.5;
}
.cell.grouprank label {
  opacity: 1;
  z-index: 1000;
  background-color: black;
  text-shadow: 0 0 0 transparent;
  padding: 5px;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
}

input[type=file] { color: #aaa; max-width: 250px; }
.centered { text-align: center; }
.centered * { display: inline-block; }
.small { font-size: smaller; }
.meta { color: #888; }
ul.plain { padding: 0; list-style: none; }
ul.plain li { padding: 0; }

.ui-pnotify-icon{ margin-top: 3px; }
.ui-pnotify .ui-widget { box-shadow: 2px 2px 5px #666; }
