body { font-family: Helvetica, sans-serif; margin: 0; padding: 0; background-color: #111; color: #f1f1f1; font-size: 80%; }
a { color: #CC6; text-decoration: none; }
a:hover, a:active { color: #E5E84B; }
#header, #main { width: 100%; height: 40px; }
#main { height: 100%; position: fixed; }
#header h1 { padding: 10px 10px; font-size: 160%; margin: 0; font-family: "League Gothic", Helvetica, sans-serif; position: relative; display: inline-block; margin-right: 5px; }
#header h1 a {color: #CC6;text-decoration: none;}
#header .menu { margin: 0; display: inline-block; margin-right: 3px; }
#header .menu li { display: inline-block; margin-left: 10px; margin-top: 12px;}
.right { float: right; margin-left: 10px; }
.left { float: left; margin-right: 10px; }
.stacked { margin-bottom: 10px; }

input[type=file] { color: #aaa; max-width: 250px; }
.centered { text-align: center; }
.centered * { display: inline-block; }
.small { font-size: smaller; }
.meta { color: #888; }
ul.plain { padding: 0; list-style: none; }
ul.plain li { padding: 0; }

.ui-pnotify-icon { margin-top: 3px; }
.ui-pnotify .ui-widget { box-shadow: 2px 2px 5px #666; }
.ui-pnotify-history-container { display: none; }
.ui-tooltip ul { padding-left: 2em; }

#tools {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  z-index: 1000;
  opacity: 0.5;
}

#tools:hover { opacity: 1; }
