body { font-family: Helvetica, sans-serif; margin: 0; padding: 0; background-color: #111; color: #f1f1f1; font-size: 80%; }
a { color: #CC6; text-decoration: none; }
a:hover, a:active { color: #E5E84B; }
#header, #main { width: 100%; min-width: 960px; height: 40px; }
#main { height: 100%; position: fixed; }
#header h1 { padding: 10px 10px; font-size: 160%; margin: 0; font-family: "League Gothic", Helvetica, sans-serif; position: relative; display: inline-block; margin-right: 5px; }
#header h1 a {color: #CC6;text-decoration: none;}
#header .menu { margin: 0; display: inline-block; margin-right: 13px; }
#header .menu li { display: inline-block; margin-left: 10px; margin-top: 15px;}
.right { float: right; margin-left: 10px; }
.left { float: left; margin-right: 10px; }
.left.last { margin-right: 0; }
.stacked { margin-bottom: 10px; }

input[type=file] { color: #aaa; max-width: 250px; }
.centered { text-align: center; }
.centered * { display: inline-block; }
.big { font-size: larger; }
.small { font-size: smaller; }
.meta { color: #888; }
ul.plain { padding: 0; list-style: none; }
ul.plain li { padding: 0; }

.ui-pnotify-icon { margin-top: 3px; }
.ui-pnotify .ui-widget { box-shadow: 2px 2px 5px #666; }
.ui-pnotify-history-container { display: none; }
.ui-tooltip ul { padding-left: 2em; }

.tools {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  z-index: 1000;
  opacity: 0.5;
}

.tools:hover { opacity: 1; }

.ui-button-text select { margin: 0; }
.ui-widget-header { font-weight: normal;}

.compare { display: table; border-collapse: collapse; }
.compare .treemaps { display: table-row; }
.compare .treemaps .treemap { display: table-cell; width: 50%; padding: 5px; }

.treemap.ui-widget .ui-widget-header {
  padding: .4em 1em;
}

.dialog.wide .ui-helper-clearfix { min-width: 635px; }
#new_classification_flow_task, .dialog.wide ul { width: 300px; }
#compare.dialog {padding: 0; min-width: 668px;}
#compare.dialog .ui-tabs { padding-left: 0; padding-right: 0; }
#compare.dialog .ui-tabs .ui-tabs-panel { padding: 0 10px; }

.loading {
  padding-left: 20px;
  color: #777;
  display: inline-block;
  background: url(/images/loading-white.gif) no-repeat center left;
  vertical-align: middle;
  min-height: 16px;
  line-height: 1;
}
.ui-button.loading { 
  padding: 0.4em 1em 0.4em 2.1em;
  background: #CC6 url(/images/loading-white.gif) no-repeat 5px center;
}
#progress { padding: 10px; background-color: #333;  width: 50%; }
